# Analyse Std Dev Markit

In [17]:
# import des libs
import pandas as pd
import numpy as np
import datetime as dt
from os import *
from os.path import *
import xlwings as xw
from xlwings import Range

In [18]:
data = pd.read_csv(r"Data Mark-It Raw 04.csv")

data = data[['ns1:ValuationDate','ns1:Currency',
       'ns1:Underlying', 'ns1:Underlying1', 'ns1:Underlying2', 
       'ns1:ClientPrice', 'ns1:CompositePrice', 'ns1:ConsensusPrice',
       'ns1:EndDate',
       'ns1:KurtosisPrice', 'ns1:NumberAcceptedPrice',
       'ns1:Period','ns1:RangePrice', 'ns1:SkewnessPrice',
       'ns1:StandardDeviationPrice', 'ns1:StartDate']]
data

,ns1:ValuationDate,ns1:Currency,ns1:Underlying,ns1:Underlying1,ns1:Underlying2,ns1:ClientPrice,ns1:CompositePrice,ns1:ConsensusPrice,ns1:EndDate,ns1:KurtosisPrice,ns1:NumberAcceptedPrice,ns1:Period,ns1:RangePrice,ns1:SkewnessPrice,ns1:StandardDeviationPrice,ns1:StartDate
0,2022-04-07 00:00:00,EUR,BELGIAN / DUTCH BASELOAD IMPLIED SPREAD,BELGIAN POWER - BASELOAD,DUTCH POWER - BASELOAD,-2.500000,-2.362182,-2.750193,2022-05-31 00:00:00,-1.556061,8.0,Month,3.000000,0.342083,1.170503,2022-05-01 00:00:00
1,2022-04-07 00:00:00,EUR,BELGIAN / DUTCH BASELOAD IMPLIED SPREAD,BELGIAN POWER - BASELOAD,DUTCH POWER - BASELOAD,3.000000,0.985878,0.308886,2022-06-30 00:00:00,-1.618075,9.0,Month,2.350000,0.174212,0.908825,2022-06-01 00:00:00
2,2022-04-07 00:00:00,EUR,BELGIAN / DUTCH BASELOAD IMPLIED SPREAD,BELGIAN POWER - BASELOAD,DUTCH POWER - BASELOAD,-1.787139,-3.348143,-1.713404,2022-07-31 00:00:00,-0.869354,9.0,Month,5.559800,-0.302407,1.756608,2022-07-01 00:00:00
3,2022-04-07 00:00:00,EUR,BELGIAN / DUTCH BASELOAD IMPLIED SPREAD,BELGIAN POWER - BASELOAD,DUTCH POWER - BASELOAD,-3.583972,-2.072265,-1.723926,2022-08-31 00:00:00,-1.298738,9.0,Month,3.583972,0.074166,1.263010,2022-08-01 00:00:00
4,2022-04-07 00:00:00,EUR,BELGIAN / DUTCH BASELOAD IMPLIED SPREAD,BELGIAN POWER - BASELOAD,DUTCH POWER - BASELOAD,2.483481,1.774849,1.056520,2022-09-30 00:00:00,-1.462836,9.0,Month,5.315542,-0.009825,1.876808,2022-09-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53122,2022-04-29 00:00:00,GBP,UK POWER - PEAKLOAD (NON-EFA),UK POWER - PEAKLOAD (NON-EFA),NaN,131.786295,137.361677,139.204013,2030-03-31 00:00:00,NaN,4.0,UKSeason,42.879729,NaN,NaN,2029-10-01 00:00:00
53123,2022-04-29 00:00:00,GBP,UK POWER - PEAKLOAD (NON-EFA),UK POWER - PEAKLOAD (NON-EFA),NaN,101.432549,103.079720,104.686902,2030-09-30 00:00:00,NaN,3.0,UKSeason,21.371866,NaN,NaN,2030-04-01 00:00:00
53124,2022-04-29 00:00:00,GBP,UK POWER - PEAKLOAD (NON-EFA),UK POWER - PEAKLOAD (NON-EFA),NaN,129.747152,134.302059,135.909241,2031-03-31 00:00:00,NaN,3.0,UKSeason,50.019447,NaN,NaN,2030-10-01 00:00:00
53125,2022-04-29 00:00:00,GBP,UK POWER - PEAKLOAD (NON-EFA),UK POWER - PEAKLOAD (NON-EFA),NaN,98.868138,NaN,NaN,2031-09-30 00:00:00,NaN,NaN,UKSeason,NaN,NaN,NaN,2031-04-01 00:00:00
53126,2022-04-29 00:00:00,GBP,UK POWER - PEAKLOAD (NON-EFA),UK POWER - PEAKLOAD (NON-EFA),NaN,126.641795,NaN,NaN,2032-03-31 00:00:00,NaN,NaN,UKSeason,NaN,NaN,NaN,2031-10-01 00:00:00

In [19]:
data.iloc[-1,:]

ns1:ValuationDate                       2022-04-29 00:00:00
ns1:Currency                                            GBP
ns1:Underlying                UK POWER - PEAKLOAD (NON-EFA)
ns1:Underlying1               UK POWER - PEAKLOAD (NON-EFA)
ns1:Underlying2                                         NaN
ns1:ClientPrice                                  126.641795
ns1:CompositePrice                                      NaN
ns1:ConsensusPrice                                      NaN
ns1:EndDate                             2032-03-31 00:00:00
ns1:KurtosisPrice                                       NaN
ns1:NumberAcceptedPrice                                 NaN
ns1:Period                                         UKSeason
ns1:RangePrice                                          NaN
ns1:SkewnessPrice                                       NaN
ns1:StandardDeviationPrice                              NaN
ns1:StartDate                           2031-10-01 00:00:00
Name: 53126, dtype: object

In [20]:
data[data['ns1:Period'] == 1.0]

Empty DataFrame
Columns: [ns1:ValuationDate, ns1:Currency, ns1:Underlying, ns1:Underlying1, ns1:Underlying2, ns1:ClientPrice, ns1:CompositePrice, ns1:ConsensusPrice, ns1:EndDate, ns1:KurtosisPrice, ns1:NumberAcceptedPrice, ns1:Period, ns1:RangePrice, ns1:SkewnessPrice, ns1:StandardDeviationPrice, ns1:StartDate]
Index: []

In [21]:
data["ns1:EndDate"].unique()

array(['2022-05-31 00:00:00', '2022-06-30 00:00:00',
       '2022-07-31 00:00:00', '2022-08-31 00:00:00',
       '2022-09-30 00:00:00', '2022-10-31 00:00:00',
       '2022-11-30 00:00:00', '2022-12-31 00:00:00',
       '2023-01-31 00:00:00', '2023-02-28 00:00:00',
       '2023-03-31 00:00:00', '2023-04-30 00:00:00',
       '2023-05-31 00:00:00', '2023-06-30 00:00:00',
       '2023-07-31 00:00:00', '2023-08-31 00:00:00',
       '2023-09-30 00:00:00', '2023-10-31 00:00:00',
       '2023-11-30 00:00:00', '2023-12-31 00:00:00',
       '2024-01-31 00:00:00', '2024-02-29 00:00:00',
       '2024-03-31 00:00:00', '2024-04-30 00:00:00',
       '2024-05-31 00:00:00', '2024-06-30 00:00:00',
       '2024-07-31 00:00:00', '2024-08-31 00:00:00',
       '2024-09-30 00:00:00', '2024-10-31 00:00:00',
       '2024-11-30 00:00:00', '2024-12-31 00:00:00',
       '2025-01-31 00:00:00', '2025-02-28 00:00:00',
       '2025-03-31 00:00:00', '2025-04-30 00:00:00',
       '2025-05-31 00:00:00', '2025-06-30 00:00:00',
       '2025-07-31 00:00:00', '2025-08-31 00:00:00',
       '2025-09-30 00:00:00', '2025-10-31 00:00:00',
       '2025-11-30 00:00:00', '2025-12-31 00:00:00',
       '2026-01-31 00:00:00', '2026-02-28 00:00:00',
       '2026-03-31 00:00:00', '2026-04-30 00:00:00',
       '2026-05-31 00:00:00', '2026-06-30 00:00:00',
       '2026-07-31 00:00:00', '2026-08-31 00:00:00',
       '2026-09-30 00:00:00', '2026-10-31 00:00:00',
       '2026-11-30 00:00:00', '2026-12-31 00:00:00',
       '2027-01-31 00:00:00', '2027-02-28 00:00:00',
       '2027-03-31 00:00:00', '2027-04-30 00:00:00',
       '2027-05-31 00:00:00', '2027-06-30 00:00:00',
       '2027-07-31 00:00:00', '2027-08-31 00:00:00',
       '2027-09-30 00:00:00', '2027-10-31 00:00:00',
       '2027-11-30 00:00:00', '2027-12-31 00:00:00',
       '2028-01-31 00:00:00', '2028-02-29 00:00:00',
       '2028-03-31 00:00:00', '2028-04-30 00:00:00',
       '2028-05-31 00:00:00', '2028-06-30 00:00:00',
       '2028-07-31 00:00:00', '2028-08-31 00:00:00',
       '2028-09-30 00:00:00', '2028-10-31 00:00:00',
       '2028-11-30 00:00:00', '2028-12-31 00:00:00',
       '2029-01-31 00:00:00', '2029-02-28 00:00:00',
       '2029-03-31 00:00:00', '2029-04-30 00:00:00',
       '2029-05-31 00:00:00', '2029-06-30 00:00:00',
       '2029-07-31 00:00:00', '2029-08-31 00:00:00',
       '2029-09-30 00:00:00', '2029-10-31 00:00:00',
       '2029-11-30 00:00:00', '2029-12-31 00:00:00',
       '2030-01-31 00:00:00', '2030-02-28 00:00:00',
       '2030-03-31 00:00:00', '2030-04-30 00:00:00',
       '2030-05-31 00:00:00', '2030-06-30 00:00:00',
       '2030-07-31 00:00:00', '2030-08-31 00:00:00',
       '2030-09-30 00:00:00', '2030-10-31 00:00:00',
       '2030-11-30 00:00:00', '2030-12-31 00:00:00',
       '2031-01-31 00:00:00', '2031-02-28 00:00:00',
       '2031-03-31 00:00:00', '2031-04-30 00:00:00',
       '2031-05-31 00:00:00', '2031-06-30 00:00:00',
       '2031-07-31 00:00:00', '2031-08-31 00:00:00',
       '2031-09-30 00:00:00', '2031-10-31 00:00:00',
       '2031-11-30 00:00:00', '2031-12-31 00:00:00',
       '2032-01-31 00:00:00', '2032-02-29 00:00:00',
       '2032-03-31 00:00:00', '2032-04-30 00:00:00'], dtype=object)

In [22]:
data_ger_BL= data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:Period'] == 'Year') & (data['ns1:EndDate'] == '2026-12-31 00:00:00') ,:]
data_ger_BL["ns1:StandardDeviationPrice"].mean()

0.555914583846154

In [23]:
data_ger_BL= data.loc[(data['ns1:Underlying2'] == 'GERMAN POWER - BASELOAD'),:]
data['ns1:Underlying'].unique()

array(['BELGIAN / DUTCH BASELOAD IMPLIED SPREAD',
       'BELGIAN / FRENCH BASELOAD IMPLIED SPREAD',
       'BELGIAN POWER - BASELOAD', 'BELGIAN POWER - PEAKLOAD',
       'DUTCH / GERMAN BASELOAD IMPLIED SPREAD', 'DUTCH POWER - BASELOAD',
       'DUTCH POWER - PEAKLOAD (8 - 20)',
       'FRENCH / GERMAN BASELOAD IMPLIED SPREAD',
       'FRENCH / ITALIAN BASELOAD IMPLIED SPREAD',
       'FRENCH POWER - BASELOAD', 'FRENCH POWER - PEAKLOAD',
       'GERMAN POWER - BASELOAD',
       'GERMAN POWER - PEAK / BASE IMPLIED RATIO',
       'GERMAN POWER - PEAKLOAD', 'ITALIAN POWER - BASELOAD',
       'ITALIAN POWER - PEAKLOAD', 'SPANISH POWER - BASELOAD',
       'SPANISH POWER - PEAKLOAD',
       'SWISS / GERMAN BASELOAD IMPLIED SPREAD', 'SWISS POWER - BASELOAD',
       'SWISS POWER - PEAKLOAD', 'UK POWER - BASELOAD (NON-EFA)',
       'UK POWER - OFF PEAK (NON-EFA)', 'UK POWER - PEAKLOAD (NON-EFA)'],
      dtype=object)