# Analyse Std Dev Markit

In [44]:
# import des libs
import pandas as pd
import numpy as np
import datetime as dt
from os import *
from os.path import *
import xlwings as xw
from xlwings import Range

In [45]:

os.chdir(r'C:\Users\rmolli\Desktop\Power-Europe\Data')
data = pd.read_csv(r"Data Mark-It Raw 04.csv")
data = data[['ns1:ValuationDate','ns1:Currency',
       'ns1:Underlying', 'ns1:Underlying1', 'ns1:Underlying2', 
       'ns1:ClientPrice', 'ns1:CompositePrice', 'ns1:ConsensusPrice',
       'ns1:EndDate',
       'ns1:KurtosisPrice', 'ns1:NumberAcceptedPrice',
       'ns1:Period','ns1:RangePrice', 'ns1:SkewnessPrice',
       'ns1:StandardDeviationPrice', 'ns1:StartDate']]

In [46]:
data_ger_BL= data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:Period'] == 'Year') & (data['ns1:EndDate'] == '2026-12-31 00:00:00') ,:]
data_ger_BL.head(5)

,ns1:ValuationDate,ns1:Currency,ns1:Underlying,ns1:Underlying1,ns1:Underlying2,ns1:ClientPrice,ns1:CompositePrice,ns1:ConsensusPrice,ns1:EndDate,ns1:KurtosisPrice,ns1:NumberAcceptedPrice,ns1:Period,ns1:RangePrice,ns1:SkewnessPrice,ns1:StandardDeviationPrice,ns1:StartDate
1694,2022-04-07 00:00:00,EUR,GERMAN POWER - BASELOAD,GERMAN POWER - BASELOAD,NaN,103.299,100.830637,101.007417,2026-12-31 00:00:00,-1.696022,9.0,Year,1.298015,-0.027005,0.497313,2026-01-01 00:00:00
5219,2022-04-08 00:00:00,EUR,GERMAN POWER - BASELOAD,GERMAN POWER - BASELOAD,NaN,105.200,102.234230,102.282384,2026-12-31 00:00:00,-0.901378,8.0,Year,0.880565,-0.652803,0.299361,2026-01-01 00:00:00
8744,2022-04-11 00:00:00,EUR,GERMAN POWER - BASELOAD,GERMAN POWER - BASELOAD,NaN,102.512,102.830729,102.863937,2026-12-31 00:00:00,-0.610763,9.0,Year,0.490356,-0.929916,0.179710,2026-01-01 00:00:00
12269,2022-04-12 00:00:00,EUR,GERMAN POWER - BASELOAD,GERMAN POWER - BASELOAD,NaN,109.590,108.022656,108.209801,2026-12-31 00:00:00,-1.093162,10.0,Year,1.898922,0.371650,0.599234,2026-01-01 00:00:00
15794,2022-04-13 00:00:00,EUR,GERMAN POWER - BASELOAD,GERMAN POWER - BASELOAD,NaN,113.645,111.125753,111.425989,2026-12-31 00:00:00,-1.809278,10.0,Year,1.059562,0.200137,NaN,2026-01-01 00:00:00

In [47]:
short_term = ['2022-05-31 00:00:00', '2022-06-30 00:00:00',
       '2022-07-31 00:00:00', '2022-08-31 00:00:00',
       '2022-09-30 00:00:00', '2022-10-31 00:00:00',
       '2022-11-30 00:00:00', '2022-12-31 00:00:00',
     ]

long_term = ['2023-01-31 00:00:00', '2023-02-28 00:00:00',
       '2023-03-31 00:00:00', '2023-04-30 00:00:00',
       '2023-05-31 00:00:00', '2023-06-30 00:00:00',
       '2023-07-31 00:00:00', '2023-08-31 00:00:00',
       '2023-09-30 00:00:00', '2023-10-31 00:00:00',
       '2023-11-30 00:00:00', '2023-12-31 00:00:00',
       '2024-01-31 00:00:00', '2024-02-29 00:00:00',
       '2024-03-31 00:00:00', '2024-04-30 00:00:00',
       '2024-05-31 00:00:00', '2024-06-30 00:00:00',
       '2024-07-31 00:00:00', '2024-08-31 00:00:00',
       '2024-09-30 00:00:00', '2024-10-31 00:00:00',
       '2024-11-30 00:00:00', '2024-12-31 00:00:00',
       '2025-01-31 00:00:00', '2025-02-28 00:00:00',
       '2025-03-31 00:00:00', '2025-04-30 00:00:00',
       '2025-05-31 00:00:00', '2025-06-30 00:00:00',
       '2025-07-31 00:00:00', '2025-08-31 00:00:00',
       '2025-09-30 00:00:00', '2025-10-31 00:00:00',
       '2025-11-30 00:00:00', '2025-12-31 00:00:00',
       '2026-01-31 00:00:00', '2026-02-28 00:00:00',
       '2026-03-31 00:00:00', '2026-04-30 00:00:00',
       '2026-05-31 00:00:00', '2026-06-30 00:00:00',
       '2031-07-31 00:00:00', '2031-08-31 00:00:00',
       '2031-09-30 00:00:00', '2031-10-31 00:00:00',
       '2031-11-30 00:00:00', '2031-12-31 00:00:00',
       '2032-01-31 00:00:00', '2032-02-29 00:00:00',
       '2032-03-31 00:00:00', '2032-04-30 00:00:00']

In [48]:
data_ger_BL= data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:EndDate'] == '2023-01-31 00:00:00' ) ,:]
print(data_ger_BL["ns1:StandardDeviationPrice"].max())
print(data_ger_BL["ns1:StandardDeviationPrice"].min())
print(round(data_ger_BL["ns1:StandardDeviationPrice"].mean(),2))

4.42666894
1.82785246
3.46

In [49]:
data_ger_BL= data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:EndDate'].isin(short_term) ) ,:]
print(data_ger_BL["ns1:StandardDeviationPrice"].max())
print(data_ger_BL["ns1:StandardDeviationPrice"].min())
print(round(data_ger_BL["ns1:StandardDeviationPrice"].mean(),2))

6.80182462
0.12639618
1.85

In [50]:
quarters = data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:Period'] == 'Quarter' ) ,["ns1:EndDate"]]["ns1:EndDate"].unique()

In [51]:
quarters = data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:Period'] == 'Quarter' ) ,["ns1:EndDate"]]["ns1:EndDate"].unique()

recap_Ger_quarters = pd.DataFrame(columns = quarters, index = ['Min', 'Average', 'Max'] )

In [52]:
recap_Ger_quarters

,2022-09-30 00:00:00,2022-12-31 00:00:00,2023-03-31 00:00:00,2023-06-30 00:00:00,2023-09-30 00:00:00,2023-12-31 00:00:00,2024-03-31 00:00:00,2024-06-30 00:00:00,2024-09-30 00:00:00,2024-12-31 00:00:00,...,2029-12-31 00:00:00,2030-03-31 00:00:00,2030-06-30 00:00:00,2030-09-30 00:00:00,2030-12-31 00:00:00,2031-03-31 00:00:00,2031-06-30 00:00:00,2031-09-30 00:00:00,2031-12-31 00:00:00,2032-03-31 00:00:00
Min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
for j in np.arange(0,recap_Ger_quarters.shape[1]):
        recap_Ger_quarters.iloc[0,j] = data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:EndDate']== recap_Ger_quarters.columns[j]) ,:]["ns1:StandardDeviationPrice"].min()

for j in np.arange(0,recap_Ger_quarters.shape[1]):
        recap_Ger_quarters.iloc[1,j] = data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:EndDate']== recap_Ger_quarters.columns[j]) ,:]["ns1:StandardDeviationPrice"].mean()

for j in np.arange(0,recap_Ger_quarters.shape[1]):
        recap_Ger_quarters.iloc[2,j] = data.loc[(data['ns1:Underlying'] == 'GERMAN POWER - BASELOAD') & (data['ns1:EndDate']== recap_Ger_quarters.columns[j]) ,:]["ns1:StandardDeviationPrice"].max()

In [59]:
recap_Ger_quarters

,2022-09-30 00:00:00,2022-12-31 00:00:00,2023-03-31 00:00:00,2023-06-30 00:00:00,2023-09-30 00:00:00,2023-12-31 00:00:00,2024-03-31 00:00:00,2024-06-30 00:00:00,2024-09-30 00:00:00,2024-12-31 00:00:00,...,2029-12-31 00:00:00,2030-03-31 00:00:00,2030-06-30 00:00:00,2030-09-30 00:00:00,2030-12-31 00:00:00,2031-03-31 00:00:00,2031-06-30 00:00:00,2031-09-30 00:00:00,2031-12-31 00:00:00,2032-03-31 00:00:00
Min,0.277192,0.250977,0.378093,0.398996,0.575693,0.113478,1.316975,0.690941,1.250683,0.069814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Average,2.19139,1.52437,2.447136,1.665001,1.608269,1.565638,3.622773,1.798045,2.605291,1.838809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Max,6.801825,5.353,6.551237,4.07847,3.734987,5.714846,8.211341,2.864211,3.97768,4.408965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#recap_Ger_quarters.dropna(inplace = True )

In [56]:
recap_Ger_quarters.shape

(3, 39)

In [57]:
for j in np.arange(0,recap_Ger_quarters.shape[1]):
    print(recap_Ger_quarters.columns[j])

2022-09-30 00:00:00
2022-12-31 00:00:00
2023-03-31 00:00:00
2023-06-30 00:00:00
2023-09-30 00:00:00
2023-12-31 00:00:00
2024-03-31 00:00:00
2024-06-30 00:00:00
2024-09-30 00:00:00
2024-12-31 00:00:00
2025-03-31 00:00:00
2025-06-30 00:00:00
2025-09-30 00:00:00
2025-12-31 00:00:00
2026-03-31 00:00:00
2026-06-30 00:00:00
2026-09-30 00:00:00
2026-12-31 00:00:00
2027-03-31 00:00:00
2027-06-30 00:00:00
2027-09-30 00:00:00
2027-12-31 00:00:00
2028-03-31 00:00:00
2028-06-30 00:00:00
2028-09-30 00:00:00
2028-12-31 00:00:00
2029-03-31 00:00:00
2029-06-30 00:00:00
2029-09-30 00:00:00
2029-12-31 00:00:00
2030-03-31 00:00:00
2030-06-30 00:00:00
2030-09-30 00:00:00
2030-12-31 00:00:00
2031-03-31 00:00:00
2031-06-30 00:00:00
2031-09-30 00:00:00
2031-12-31 00:00:00
2032-03-31 00:00:00