# Shaping de la forward curve markit

## Forward Curve TGP

In [19]:
# on recupere la donnee en time serie de KDB
from kdb import *
import pandas as pd
datar = Markit(date = "2022-09-20", index = "FRANCE_BL")
datar.head(20)

Data retrieved from kdb for 2022-09-20

                 Markit          TGP
Start Date
2022-10-01   470.771441   470.000000
2022-11-01  1021.479347  1040.000000
2022-10-01   961.215777   955.000000
2022-12-01  1392.305907  1357.741935
2023-01-01  1180.127663  1171.602313
2023-02-01  1103.600767  1067.868417
2023-01-01  1002.199926  1010.000000
2023-03-01   735.141852   796.129439
2022-10-01   981.725025   982.197802
2023-04-01   406.960986   407.480834
2023-05-01   352.389473   355.779454
2023-04-01   378.814741   379.805560
2023-06-01   374.597804   376.957263
2023-07-01   361.226016   369.336621
2023-08-01   336.225022   347.652485
2023-07-01   362.851765   372.953188
2023-09-01   390.540724   402.834366
2023-10-01   511.323498   546.486150
2023-11-01   616.550929   634.711607
2023-12-01   614.042066   626.163932

In [20]:
datr = kdb(date = "2022-09-20", index = "FRANCE_BL")
datr.head(20)

Data retrieved from kdb for 2022-09-20

,Index,Start Date,Contract type,TGP,Markit,Markit Std,EEX,Ice,Skylight,Risk,Rule,Validation_status,Comment
Date,,,,,,,,,,,,,
2022-09-20,FRANCE_BL,2022-10-01,Month,470.000000,470.771441,2.117935,456.010000,469.800000,470.958363,1873.939568,fixed-0.10.1,Validated,Within trayport Bid and trayport Ask
2022-09-20,FRANCE_BL,2022-11-01,Month,1040.000000,1021.479347,2.606417,1019.010000,1019.800000,1024.666362,-33265.931592,fixed-0.10.1,Validated,Within spectronpower Bid and spectronpower Ask
2022-09-20,FRANCE_BL,2022-10-01,Quarter,955.000000,961.215777,6.736205,950.980000,956.452174,962.047494,NaN,fixed-0.20.2,Validated,Within spectronpower Bid and spectronpower Ask
2022-09-20,FRANCE_BL,2022-12-01,Month,1357.741935,1392.305907,9.393429,1380.780000,1381.800000,1396.539707,-134145.652343,fixed-0.10.1,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2023-01-01,Month,1171.602313,1180.127663,42.656386,1200.000000,1254.430000,1203.198999,497695.182939,fixed-0.10.1,Validated,Within trayport Bid and trayport Ask
2022-09-20,FRANCE_BL,2023-02-01,Month,1067.868417,1103.600767,51.076172,1147.540000,1153.090000,1141.852300,447771.835577,fixed-0.10.1,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2023-01-01,Quarter,1010.000000,1002.199926,2.520090,998.750000,1045.158333,1004.878743,NaN,fixed-0.20.2,Validated,Within trayport Bid and trayport Ask
2022-09-20,FRANCE_BL,2023-03-01,Month,796.129439,735.141852,81.595433,662.650000,738.400000,682.807723,496740.672325,fixed-0.20.2,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2022-10-01,Week,982.197802,981.725025,31.412000,974.637692,1000.317857,983.903867,NaN,fixed-0.20.2,Validated,Within trayport Bid and trayport Ask
2022-09-20,FRANCE_BL,2023-04-01,Month,407.480834,406.960986,12.743426,NaN,475.160000,408.071132,60500.429082,fixed-0.20.2,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2023-05-01,Month,355.779454,352.389473,6.539498,NaN,431.310000,360.112909,67912.935606,fixed-0.20.2,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2023-04-01,Quarter,379.805560,378.814741,6.853489,364.550000,440.669341,380.693557,NaN,fixed-0.20.2,Validated,Total's price within the threshold -0.2 and 0....
2022-09-20,FRANCE_BL,2023-06-01,Month,376.957263,374.597804,7.388813,NaN,415.850000,374.582653,83641.204636,fixed-0.20.2,Validated,4. Ok as quarter is ok
2022-09-20,FRANCE_BL,2023-07-01,Month,369.336621,361.226016,9.674998,NaN,414.320000,361.858049,196098.551342,fixed-0.20.2,Validated,ok as price is between markti and ice
2022-09-20,FRANCE_BL,2023-08-01,Month,347.652485,336.225022,9.249691,NaN,416.940000,345.740182,200178.212468,fixed-0.20.2,Validated,ok as price is between markti and ice
2022-09-20,FRANCE_BL,2023-07-01,Quarter,372.953188,362.851765,8.252325,346.350000,415.030000,366.530387,NaN,fixed-0.20.2,NotValidated,
2022-09-20,FRANCE_BL,2023-09-01,Month,402.834366,390.540724,11.258710,NaN,413.790000,395.882991,188101.991604,fixed-0.20.2,Validated,ok as price is between markti and ice
2022-09-20,FRANCE_BL,2023-10-01,Month,546.486150,511.323498,32.501715,NaN,624.580000,535.627313,629122.877012,fixed-0.30.3,Validated,ok as price is between markti and ice
2022-09-20,FRANCE_BL,2023-11-01,Month,634.711607,616.550929,17.789309,NaN,629.020000,619.255547,608275.237940,fixed-0.30.3,NotValidated,
2022-09-20,FRANCE_BL,2023-12-01,Month,626.163932,614.042066,14.368532,NaN,624.510000,616.618627,621742.134926,fixed-0.30.3,NotValidated,

In [49]:
from ratios.ratio import Ratio
from ratios.scope import Scope
from ratios.ratio import Ratio
from ratios.profiles.filters.filter import Filter
from ratios.smoothings.smoothing import Smoothing
from ratios.smoothings.integral_cubic_spline import IntegralCubicSpline
from ratios.profiles.baseload import Baseload
from ratios.profiles.filters.hours import Hours
from ratios.profiles.filters.months import Months
from ratios.profiles.filters.years import Years
from ratios.profiles.off_peak import OffPeak, OverlappingIndexesPeakAndOffPeak
from ratios.profiles.peak import Peak
from ratios.scope import Scope


# First we define a {Baseload}
historical_baseload = Baseload(datar["Markit"])

# On calcule ici le ratio de prix par annee entre les quarters et les mois 
# Line is Denominator when Column is Nominator
ratio_month_day = Ratio(historical_baseload.filter_(Years([2022,2023,2024])),  #on peut utiliser les filtres par annees, quarters, mois
                        line_scope=[ Scope.YEAR_NUMBER, Scope.QUARTER],
                        column_scope=[Scope.YEAR_NUMBER]) \
    .compute(numerator_computing_scope=[Scope.YEAR_NUMBER]).evaluate()

print(ratio_month_day.matrix_rate)

Start Date             2022      2023      2024
Start Date Start Date
2022       4            1.0       NaN       NaN
2023       1            NaN  0.632070       NaN
           2            NaN  1.537656       NaN
           3            NaN  1.603281       NaN
           4            NaN  1.001694       NaN
2024       1            NaN       NaN  0.549402
           2            NaN       NaN  1.938828
           3            NaN       NaN  2.044929
           4            NaN       NaN  1.024581

In [37]:
historical_baseload.filter_(Years([2024]))

In [53]:
tgp = datar["TGP"]
tgp = Baseload(tgp)
tgp.shape(ratio_month_day)