# construction formule kdb

In [1]:
from qpython import qconnection 
import pandas as pd 
import numpy as np 
from datetime import datetime
import movecolumn as mc

%load_ext autoreload
%autoreload 2

kdb_date = "2022-08-31"
kdb_date = kdb_date.replace('-','.')
print(kdb_date)

## Open a connection to kdb 
q = qconnection.QConnection(host = 'kdb.dts.corp.local',port=8004,username='Administrator',password='password', pandas=True)

## Retrieves data from KDB
q.open()
kdb_trades=q.sendSync('.engie.getAssessmentsPrices('+kdb_date+')')
q.close() 

## kdb symbols/strings returned as python byte strings -- convert these to regular strings 
bstr_cols = kdb_trades.select_dtypes([object]).columns
for i in bstr_cols:
    kdb_trades[i]=kdb_trades[i].apply(lambda x: x.decode('latin'))

kdb_trades

2022.08.31

,date,ASSESS_DATE,INDEX1,INDEX2,CONTRACT,CONTRACT1_START_DATE,CONTRACT1_END_DATE,CONTRACT2_START_DATE,CONTRACT2_END_DATE,PRODUCT,...,spectronemission_bid,spectronpower_ask,spectronpower_bid,trayport_bid,trayport_ask,epex,trayport_mid,RISK,VALIDATION_STATUS,COMMENT
0,2022-08-31,2022-08-31,AOC,,2022.8.BOM,2022-08-01,2022-08-31,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
1,2022-08-31,2022-08-31,AOC,,2022.9.1.D,2022-09-01,2022-09-01,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
2,2022-08-31,2022-08-31,AOC,,2022.35.WE,2022-09-03,2022-09-04,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
3,2022-08-31,2022-08-31,AOC,,2022.9.M,2022-09-01,2022-09-30,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-58095.764513,Validated,"7. MO disagrees, Traders to update curve"
4,2022-08-31,2022-08-31,AOC,,2022.10.M,2022-10-01,2022-10-31,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170373.579093,Validated,4. Ok as quarter is ok
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12369,2022-08-31,2022-08-31,ZTP,,2028.5.M,2028-05-01,2028-05-31,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
12370,2022-08-31,2022-08-31,ZTP,,2028.6.M,2028-06-01,2028-06-30,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
12371,2022-08-31,2022-08-31,ZTP,,2028.2.Q,2028-04-01,2028-06-30,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotApplicable,
12372,2022-08-31,2022-08-31,ZTP,,2028.7.M,2028-07-01,2028-07-31,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,
12373,2022-08-31,2022-08-31,ZTP,,2028.8.M,2028-08-01,2028-08-31,NaT,NaT,NG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NotValidated,

In [2]:
if "ice" in kdb_trades.columns:
    columns = ['date', 'ASSESS_DATE' , 'INDEX1', 'PROFILE', 'CONTRACT', 'CONTRACT1_START_DATE','TGP_PRICE', 'RULE', 'eexpower', 'ice', 'skylight consensus', 'RISK', 'VALIDATION_STATUS', 'COMMENT' ]
    if "skylight consensus" in columns:
            columns = ['date', 'ASSESS_DATE' , 'INDEX1', 'PROFILE', 'CONTRACT', 'CONTRACT1_START_DATE','TGP_PRICE', 'RULE', 'eexpower', 'ice', 'skylight consensus', 'RISK', 'VALIDATION_STATUS', 'COMMENT' ]
    else: 
        columns = ['date', 'ASSESS_DATE' , 'INDEX1', 'PROFILE', 'CONTRACT', 'CONTRACT1_START_DATE','TGP_PRICE', 'RULE', 'eexpower', 'ice', 'RISK', 'VALIDATION_STATUS', 'COMMENT' ]
else: 
    columns = ['date', 'ASSESS_DATE' , 'INDEX1', 'PROFILE', 'CONTRACT', 'CONTRACT1_START_DATE','TGP_PRICE', 'RULE', 'eexpower', 'RISK', 'VALIDATION_STATUS', 'COMMENT' ]

In [3]:
kdb_trades = kdb_trades.loc[:,columns]
kdb_trades

,date,ASSESS_DATE,INDEX1,PROFILE,CONTRACT,CONTRACT1_START_DATE,TGP_PRICE,RULE,eexpower,RISK,VALIDATION_STATUS,COMMENT
0,2022-08-31,2022-08-31,AOC,BL,2022.8.BOM,2022-08-01,175.000,NoRuleDefined,NaN,NaN,NotValidated,
1,2022-08-31,2022-08-31,AOC,BL,2022.9.1.D,2022-09-01,164.000,NoRuleDefined,NaN,NaN,NotValidated,
2,2022-08-31,2022-08-31,AOC,BL,2022.35.WE,2022-09-03,230.525,NoRuleDefined,NaN,NaN,NotValidated,
3,2022-08-31,2022-08-31,AOC,BL,2022.9.M,2022-09-01,175.000,fixed-1.31.3,NaN,-58095.764513,Validated,"7. MO disagrees, Traders to update curve"
4,2022-08-31,2022-08-31,AOC,BL,2022.10.M,2022-10-01,184.907,fixed-1.31.3,NaN,170373.579093,Validated,4. Ok as quarter is ok
...,...,...,...,...,...,...,...,...,...,...,...,...
12369,2022-08-31,2022-08-31,ZTP,BL,2028.5.M,2028-05-01,38.223,NoRuleDefined,NaN,NaN,NotValidated,
12370,2022-08-31,2022-08-31,ZTP,BL,2028.6.M,2028-06-01,38.205,NoRuleDefined,NaN,NaN,NotValidated,
12371,2022-08-31,2022-08-31,ZTP,BL,2028.2.Q,2028-04-01,NaN,NoRuleDefined,NaN,NaN,NotApplicable,
12372,2022-08-31,2022-08-31,ZTP,BL,2028.7.M,2028-07-01,38.236,NoRuleDefined,NaN,NaN,NotValidated,
12373,2022-08-31,2022-08-31,ZTP,BL,2028.8.M,2028-08-01,38.575,NoRuleDefined,NaN,NaN,NotValidated,

In [4]:
kdb_trades.loc[kdb_trades["CONTRACT"].str.contains(".M"),"Contract type"] = "Month"
kdb_trades.loc[kdb_trades["CONTRACT"].str.contains(".Q"),"Contract type"] = "Quarter"
kdb_trades.loc[kdb_trades["CONTRACT"].str.contains(".CAL"),"Contract type"] = "Year"
kdb_trades.dropna(subset = "Contract type", inplace = True)
kdb_trades = mc.MoveToN(kdb_trades,'Contract type',6)

In [5]:
kdb_trades

,date,ASSESS_DATE,INDEX1,PROFILE,CONTRACT,Contract type,CONTRACT1_START_DATE,TGP_PRICE,RULE,eexpower,RISK,VALIDATION_STATUS,COMMENT
0,2022-08-31,2022-08-31,AOC,BL,2022.8.BOM,Month,2022-08-01,175.000000,NoRuleDefined,NaN,NaN,NotValidated,
3,2022-08-31,2022-08-31,AOC,BL,2022.9.M,Month,2022-09-01,175.000000,fixed-1.31.3,NaN,-58095.764513,Validated,"7. MO disagrees, Traders to update curve"
4,2022-08-31,2022-08-31,AOC,BL,2022.10.M,Month,2022-10-01,184.907000,fixed-1.31.3,NaN,170373.579093,Validated,4. Ok as quarter is ok
5,2022-08-31,2022-08-31,AOC,BL,2022.11.M,Month,2022-11-01,199.418000,fixed-1.31.3,NaN,-185332.563727,Validated,4. Ok as quarter is ok
6,2022-08-31,2022-08-31,AOC,BL,2022.4.Q,Quarter,2022-10-01,196.219609,fixed-1.31.3,NaN,NaN,Validated,Total's price within the threshold -1.3 and 1....
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12369,2022-08-31,2022-08-31,ZTP,BL,2028.5.M,Month,2028-05-01,38.223000,NoRuleDefined,NaN,NaN,NotValidated,
12370,2022-08-31,2022-08-31,ZTP,BL,2028.6.M,Month,2028-06-01,38.205000,NoRuleDefined,NaN,NaN,NotValidated,
12371,2022-08-31,2022-08-31,ZTP,BL,2028.2.Q,Quarter,2028-04-01,NaN,NoRuleDefined,NaN,NaN,NotApplicable,
12372,2022-08-31,2022-08-31,ZTP,BL,2028.7.M,Month,2028-07-01,38.236000,NoRuleDefined,NaN,NaN,NotValidated,
12373,2022-08-31,2022-08-31,ZTP,BL,2028.8.M,Month,2028-08-01,38.575000,NoRuleDefined,NaN,NaN,NotValidated,

In [6]:
uk = kdb_trades.loc[kdb_trades['INDEX1'] == "UK",:]

uk

,date,ASSESS_DATE,INDEX1,PROFILE,CONTRACT,Contract type,CONTRACT1_START_DATE,TGP_PRICE,RULE,eexpower,RISK,VALIDATION_STATUS,COMMENT
11204,2022-08-31,2022-08-31,UK,BL,2022.10.BOMB,Month,2022-09-26,508.985543,NoRuleDefined,NaN,NaN,NotValidated,
11205,2022-08-31,2022-08-31,UK,OPKS,2022.10.BOMB,Month,2022-09-26,399.259979,NoRuleDefined,NaN,NaN,NotValidated,
11206,2022-08-31,2022-08-31,UK,OPKS,2022.9.M,Month,2022-09-01,333.071368,NoRuleDefined,NaN,-3656.840528,NotValidated,
11207,2022-08-31,2022-08-31,UK,PKS,2022.10.BOMB,Month,2022-09-26,618.711108,NoRuleDefined,NaN,NaN,NotValidated,
11208,2022-08-31,2022-08-31,UK,BL,2022.9.M,Month,2022-09-01,378.797341,fixed-0.10.1,476.86,-6954.595250,Validated,Total's price within the threshold -0.1 and 0....
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11933,2022-08-31,2022-08-31,UK,OPKS,2032.4.Q,Quarter,2032-10-01,87.110000,NoRuleDefined,NaN,NaN,NotValidated,
11934,2022-08-31,2022-08-31,UK,OPKS,2032.CAL,Year,2032-01-01,84.510000,NoRuleDefined,NaN,NaN,NotValidated,
11935,2022-08-31,2022-08-31,UK,PKS,2032.12.M,Month,2032-12-01,-182.391361,NoRuleDefined,NaN,NaN,NotValidated,
11936,2022-08-31,2022-08-31,UK,PKS,2032.4.Q,Quarter,2032-10-01,139.730000,NoRuleDefined,NaN,NaN,NotValidated,
11937,2022-08-31,2022-08-31,UK,PKS,2032.CAL,Year,2032-01-01,110.030000,NoRuleDefined,NaN,NaN,NotValidated,

In [7]:
from kdb import *
kdb("2022-09-01", "UK")

2022-09-01
2022-09-01
2022.09.01